/**
* Estilos do Cabeçalho
**/
.cabecalho{
  width: 980px;
  margin: 0 auto;
}


/*******************************/
/* INÍCIO CABEÇALHO INFORMAÇÃO */
/*******************************/
.cabecalho-informacao{
  background-color: #f1f1f1; /* definindo cor de fundo */
  /**
   * Este recurso deverá sempre ser usado em estruturas
   * que possuam filhos que recebam propriedades float.
   */
  overflow: auto;
}

/**
 * Estilos para qualquer elemento a
 * dentro de cabecalho-informacao
 */
.cabecalho-informacao a{
  color: #726060; /* definindo cor do texto */
  text-decoration: none; /* removendo "underline" */
  font-size: 12px; /* definindo tamanho do texto */
  font-weight: bold /* definindo estilo bold para o texto */
}
/**
 * utilizando o :hover apenas para que o css aplique
 * os efeitos quando o mouse estiver sobre o elemento
 */
.cabecalho-informacao a:hover{
  text-decoration: underline; /* mostrar o "underline" no link */
}

/**
 * Estilos para qualquer elemento ul
 * dentro da classe cabecalho-informacao
 */
.cabecalho-informacao ul{
  margin: 5px 0; /* definindo margem (top/bottom) e (left/right) ao mesmo tempo */
}
.cabecalho-informacao ul li{
  float: left; /* estrutura deverá flutuar à esquerda */
  list-style: none; /* removendo estilo de marcador padrão */
  padding: 5px 20px; /* espaçamento interno sendo aplicado */
  border-left: 1px solid #ccc; /* criando uma borda esquerda */
}
/**
 * apenas para o último elemento do seletor
 * estaremos aplicanado um estilo css
 */
.cabecalho-informacao ul li:last-child{
  border-right: 1px solid #ccc; /* criando uma borda direita */
}

/**
 * Bandeira do Brasil
 */
.cabecalho-informacao .informacao-brasil{
  float:left;
  width: 100px;
  padding:10px 0;
  padding-left: 20px;

  font: bold 12px/18px tahoma;
  font-weight: bold;
  text-transform: uppercase;
  color: #726060; /* definindo cor do texto */
}
.cabecalho-informacao .informacao-brasil img{
  display: block;
  float: left;
  margin-right: 10px;

}
.cabecalho-informacao .informacao-brasil span{
  display: block;
  float: left;
  line-height: 20px;
}


.cabecalho-informacao .informacao-servicos{
  float: left;
  width: 320px;
  padding: 0;
}
.cabecalho-informacao .informacao-servicos li{
  float: left;
}

.cabecalho-informacao .informacao-links{
  float: left;
  width: 540px;
  padding: 0;
  margin: 0px;
}
.cabecalho-informacao .informacao-links ul{
  float: right;
}
/*******************************/
/* FIM DE CABEÇALHO INFORMAÇÃO */
/*******************************/

/*********************************/
/* INÍCIO DE CABEÇALHO DESTAQUES */
/*********************************/
@font-face{
  font-family: openSansBold;
  src: url('../fonts/OpenSans-ExtraBold.ttf');
}

.cabecalho-destaque{
  background-color: #0A651A;
  margin: 0;
  overflow: auto;
}

.cabecalho-destaque h1{
  float: left;
  width: 430px;
  padding-left: 20px;

  font-family: openSansBold, arial, sans-serif, times;
  font-size: 38px;
  color: #ffdc19;
}

.cabecalho-destaque .busca{
  width: 510px;
  float: right;
  padding-top: 30px;
}
.cabecalho-destaque .busca form{
  background-color: white;
  width: 230px;
  padding: 5px;
  float: right;
  margin-right: 20px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.cabecalho-destaque .busca form input{
  border: 0;
  font-size: 12px;
  color: #666;
  line-height: 18px;
}
.cabecalho-destaque .busca form input[type="text"]{
  width: 200px;
  float: left
}
.cabecalho-destaque .busca form input[type="image"]{
  width: 20px;
  float: left
}

.cabecalho-ouvidoria{
  background-color: #00420C;
  margin: 0;
  overflow: auto;
}
.cabecalho-ouvidoria ul{
  text-align: right;
  margin: 0;
  margin-right: 10px;
  padding: 10px;
}
.cabecalho-ouvidoria ul li{
  list-style: none;
  display: inline;
  border-right: 1px solid #999;
  padding: 0px 10px;
}
.cabecalho-ouvidoria ul li:last-child{
  border: none;
  padding-right: 0;
}
.cabecalho-ouvidoria ul li a{
  color: white;
  text-decoration: none;
  font-size: 13px;
}
/******************************/
/* FIM DE CABEÇALHO DESTAQUES */
/******************************/